<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
</head>
<body>
<h1> [MAIN PAGE] </h1>
<h1 th:text="#{greeting}"> Greets </h1>
<br>

<a th:href="@{/getUserForm}" th:text="#{add.user}">Add User</a>
<a th:href="@{/getUserList}" th:text="#{see.user.list}">User List </a>

<br>

<span th:text="#{lang.change}"></span><br>
<button type="button" th:text="#{lang.eng}" onclick="window.location.href='http://localhost:8080/?lang=en'"></button>
<button type="button" th:text="#{lang.lt}" onclick="window.location.href='http://localhost:8080/?lang=lt'"></button>

</body>
</html>